.mid-row {
  margin-top: 190px;
  margin-left: 680px;
  font-size: 8px;
}

.top-row {
  height: 20px;
  margin-top: 15px;
  margin-right: 20px;
}

.top-row ul {
  float: right
}

.top-row li {
  display: inline;
  padding: 8px;
  font-size: 14px;
  font-family: arial, sans-serif;
}

.top-row img {
  width: 18px;
  height: 18px;
}

.footer {
  border-top: 1px solid #E4E4E4;
  background-color: #F2F2F2;
  margin-top: 438px;
  height: 47px;
  overflow: hidden;
  background-color: #F2F2F2;
}

.footer li {
  display: inline;
  padding-right: 30px;
}

.footer div {
  margin-top: 13px;
}

.footer a {
  color: #666666;
}

#footer-right {
  margin-right: 30px;
  float: right;
}

#footer-left {
  margin-left:30px;
  float: left;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

.top-row form {
  display: inline;
}

.top-row form input {
  color: #FFFFFF;
  background-color: #4486F9;
  font-weight: bold;
  border: none;
  height: 32px;
  width: 80px;
  font-size: 14px;
}

#logo img {
  width:269px ; height:95px ;
  margin-left: 150px;
  position: relative;
}

#logo span{
  color: #777777;
  font-weight: bold;
  font-size: 18px;
  font-family: sans-serif;
  position: absolute;
  top: 295px;
  right: 790px;
}

#searchbar {
  margin-top: 25px;
}

#searchbar form input {
  width: 569px;
}
#buttons {
  margin-top: 15px;
  margin-left: 175px;
}

#txt {
  margin-top: 60px;
  margin-left: 200px;
  font-size: 14px;
}
